body{
    margin: 0px;
    height: 100%;
}

.title a{
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgoldenrodyellow;
    text-align: center;
    height: 7vh;
}

.title{
    position: relative;
    font-size: 32px;
    display: inline;
    left: 110px;
}

#dog-img{
    width: 25%;
}

nav{
    background-color: lightblue;
    width: 8%;
    height: 86vh;
}

nav ul{
    list-style-type: none;
    margin-top: 0px;
    padding-left: 8px;
}

li{
    padding-top: 12px;
}

.mainbody-nav{
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    width: 92%;
}

.home-page{
    border: solid black;
    height: 310px;
    margin-top: 12px;
    font-size: 24px;
    text-align: center;
    
}

#dog-table{
    border: solid black;
    position: relative;
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: grey;
}
table{
    width: 75%;
}
td{
    text-align: center;
    width: 2%;
}
#dog-img-2{
    width: 60%;
}
#dog-img-3{
    width: 100%;
}
#dog-img-4{
    width: 100%;
}
h2{
    color: blueviolet;
    margin-top: 0px;
    margin-bottom: 15px;
}
