body{
    margin: 0px;
}

.title a{
    text-decoration: none;
    color: black;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: lightgoldenrodyellow;
    text-align: center;
    min-height: 9vh;
    overflow: hidden;
}

.title{
    font-size: 32px;
    margin-left: 15px;
}

#clickable-dog{
    display: inline-block;
    height: 9vh;
    padding: 0px;
    margin: 0px;
}

#dog-img{
    display: block;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

nav{
    background-color: lightblue;
    min-width: 10vw;
    min-height: 84vh;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    
}

li{
    padding-top: 0px;
}

li a{
    display: block;
    color: black;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px;
}


.non-active-page:hover{
    background-color: pink;
}

.active-page{
    background-color: palegreen;
}

.mainbody-nav{
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    width: 92%;
    overflow: hidden;
}

.home-page{
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    
}

#dog-table{
    border: solid black;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 7vh;
    background-color: grey;
}

table{
    width: 75%;
    margin-bottom: 25px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

td{
    text-align: center;
    width: 2%;
}
#dog-img-2{
    width: 60%;
}
#dog-img-3{
    width: 100%;
}
#dog-img-4{
    width: 100%;
}

.testimonials{
    color: blueviolet;
    margin-top: 0px;
    margin-bottom: 0px;
}

#find-pet-form{
    display: flex;
    flex-direction: column;
    min-width: 70vw;
    min-height: 60vh;
    margin-top: 15px;
    
}

label{
    margin-top: 15px;
    margin-right: 20px;
}

select{
    min-width: 35vw;
}

input[type="submit"], input[type="reset"]{
    max-width: 60px;
    transition: 0.4s;
    margin-top: 15px;
}


.animal-care-content p{
    margin-top: 2px;
    margin-bottom: 2px;
    max-width: 600px;
    text-align: justify;
}

.animal-care-content li{
    margin-top: 10px;
}

.animal-care-content{
    font-size: 1.25rem;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.animal-care-content ul{
    margin-left: 15px;
    padding-left: 0px;
    margin-top: 10px;
}


#comments-give{
    min-width: 35vw;
    min-height: 15vh;
}
@media (max-width: 600px){
    nav{
        min-width: 100vw;
        min-height: 20vh;
    }

    .mainbody-nav{
        display: flex;
        flex-direction: column;
    }

    li a{
        text-align: center;
    }

    main{
        min-width: 100vw;
        min-height: 52vh;
    }

}

